@use '../abstract/' as *;
@use '../base/typography' as *;

.home-banner {
  .container {
    padding: 0;
  }

  &__wrapper {
    display: flex;
    min-height: 500px;
    position: relative;
  }

  &__left {
    flex: 1 1 60%;
    position: relative;
  }

  &__slider {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__right {
    flex: 1 1 40%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
  }
}

.car-item {
  position: relative;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.slider_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $clr--light;
  font-family: $font-secondary;
  font-size: clamp(2rem, 5vw, 3.5rem);
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  z-index: 10;
  line-height: 1.2;
}
