@use '../abstract/' as *;

.home {
   
}
.banner {
    &-services {
       &__wrapper {
         background-color: $clr--dark;
         display: flex;
         gap: 2rem;
         color: $clr--light;
         padding: 4rem;
         
       }
       &__card {
        display: inline;
        justify-content: center;
        text-align: center;
        transition: transform .2s;
        h4 {
            text-transform: uppercase;
            margin-top: 4.2rem;
            padding-bottom: 3.2rem;
            border-bottom: 4px solid $clr--line;
            text-align: center;
         }
         
         i {
            margin-top: 3rem;
            font-size: 4rem;
         }
         p {
            margin-top: 3rem;
         }
         a {
            margin-top: 3rem;
         }
         &:hover {
            scale: 1.5;
         }
       }
    }
}