@use '../abstract/' as *;
@use '../base/typography' as *;

.footer{
    padding: 3rem 0;
    background-color: $clr--secondary;
    &__wrapper {
       display: flex;
       flex-direction: column;
       align-content: center;
       justify-content: center;
       align-items: center;
    }

    &__logo { 
        a > h4 {
            color: $clr--dark;
        }
    }


    &__nav{
        ul {
      display: flex;
      align-items: center;
      gap: 3rem;
      li a {
        color: $clr--dark;
      }
    }
    }
}