@use "../abstract/" as *;
@use '../base/typography' as *;
.btn {
  font-family: $font-secondary;
  display: inline-block;
  padding: 0.8rem 2rem;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 1.11111111111rem;
  text-transform: uppercase;
  transition: 0.5s ease;
  &.btn--light {
    background-color: $clr--light;
    color: $clr--dark;
    border: 1px solid $clr--dark;
    &:hover {
      background-color: $clr--dark;
      color: $clr--light;
      border: 1px solid $clr--light;
      transition: 0.5s ease;
    }
  }
  &.btn--dark {
    background-color: $clr--dark;
    color: $clr--light;
    border: 1px solid $clr--light;
    &:hover {
      background-color: $clr--light;
      color: $clr--dark;
      border: 1px solid $clr--dark;
      transition: 0.5s ease;
    }
  }

  &.btn--primary {
    background-color: $clr--primary;
    color: $clr--light;
    &:hover {
      background-color: $clr--secondary;
      color: $clr--light;
      border: 1px solid $clr--dark;
      transition: 0.5s ease;
    }
  }
   &.btn--secondary {
    background-color: $clr--secondary;
    color: $clr--light;
    &:hover {
      background-color: $clr--light;
      color: $clr--secondary;
      border: 1px solid $clr--dark;
      transition: 0.5s ease;
    }
  }
}

.btn--text {
  color: $clr--light;
  transition: 0.5s ease;
}

.listButton {
  display: flex;
  align-items: center;
  gap: 3rem;
  @include mediaQuery(520px) {
    flex-direction: column;
    gap: 1rem;
  }
}
