@use "../abstract/" as *;

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

$font-primary: "Ubuntu", sans-serif;
$font-secondary: "Ubuntu Condensed", serif;

// html {
//   font-size: 62.5%;
// }

h1 {
  font-family: $font-secondary;
  font-size: clamp(3rem, 7vw, 4.5rem);
  font-weight: 400;
}
h2 {
  font-family: $font-secondary;
  font-size: clamp(2.5rem, 5vw, 3rem);
  font-weight: 400;
}
h3 {
  font-family: $font-secondary;
  font-size: clamp(1.5rem, 5vw, 2.25rem);
  font-weight: 400;
}
h4 {
  font-family: $font-secondary;
  font-size: clamp(1.25rem, 5vw, 1.5rem);
  font-weight: 400;
}
h5 {
  font-family: $font-secondary;
  font-size: 1.25rem;
  font-weight: 400;
}
h6 {
  font-family: $font-secondary;
  font-size: 0.75rem;
}
p,a {
  font-size: 1.25rem;
  font-family: $font-primary;
  font-weight: 400;
  font-style: normal;
}
